<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="scripts">
    <link rel="stylesheet" type="text/css"  href="/bootstrap/4.3.1/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" th:href="@{/webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css}"/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/5.8.1/js/all.js}"></script>
    <script th:src="@{/js/todoList.js}"></script>
</head>
</html>