<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="container">
            <div class="d-flex justify-content-end py-3">
                <buttom id="modalAddTask" class="btn btn-primary" th:text="#{button.addmodal}"></buttom>
            </div>
            <div th:include="task/listTask::listTask"></div>
        </div>
        <div id="modalTask"></div>
    </th:block>
</body>
</html>